<% content_tag_for :li, person, :class => cycle('odd', 'even') do %>
  <%# = image_tag :gravatar!!!! %>
  <h3><%= link_to h(person.name), person %></h3>
  <%= link_to person.company.name, person.company if person.company %>
<% end %>
