@import "easy";   

html{ background: center center fixed; background: #2C3230; }
body{ background: none; }

a, a:visited{ color: #95040B; }
	a:hover{ color: #BC0100; }
	
.container{ margin: 0 auto; width: 960px; text-align: left; }

#main{
	background: #fff; color: #0C0304; padding: 120px 0 40px; min-height: 300px; 
}


#nav{
	overflow: hidden; background: #0C0304;
	li{
		float: right; margin-right: 0; margin-left: 2em;
		a{ color: #fff; font-size: 1.6em; text-transform: uppercase; 
			:hover{ color: #BC0100; }
		}
	}
}

#header{
	h1{ position: absolute; top: 0; 
		a{ background: url('/images/logo.png'); text-indent: -999em; width: 220px; height: 150px; display: block; }
	}
	#user-info{ float: right; font-size: .9em; }
}

#footer{
	color: #fff; padding: 20px 0; font-size: .9em; 
} 