<% content_tag_for :li, event, :class => cycle('odd', 'even') do %>
  <h3><%= link_to h(event.name), event %></h3>
  <%=l event.date_and_time, :format => :long_highlighted %> at <%= link_to_map event.location_title, event.location_address %>.
<% end %>
