<% content_tag_for :li, company, :class => cycle('odd', 'even') do %>
  <%= image_tag company.logo.url %>
  <h3><%= link_to h(company.name), company_path(company) %></h3>
  <%= link_to h(company.url), h(company.url), :class => 'website' %>
<% end %>
