<h1>Bellingham Rubyists <em>(aka #bhamruby)</em></h1> 
		<div id="irc">You can find us at #bhamruby on irc.oftc.net.</div> 
		<div id="next_event">The next event will be <strong>5:30PM</strong> Thursday, <strong>April 1</strong>, at <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1031+N+State+St,+Bellingham,+WA+98225&sll=37.579413,-95.712891&sspn=57.108852,135.263672&ie=UTF8&z=16&iwloc=A">Carnes Media</a>. Bring beer, snacks, or code to share.</div> 
